aiohttp==3.8.1
aiosignal==1.2.0
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.6.0
beautifulsoup4==4.11.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cryptography==37.0.0
Cython==0.29.28
distlib==0.3.4
et-xmlfile==1.1.0
filelock==3.6.0
Flask==2.1.2
frozenlist==1.3.0
future==0.18.2
geographiclib==1.52
geopy==2.2.0
gunicorn==20.1.0
h11==0.13.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
line-bot-sdk==2.2.1
MarkupSafe==2.1.1
multidict==6.0.2
newrelic==7.10.0.175
numpy==1.22.3
openpyxl==3.0.9
outcome==1.1.0
pandas==1.4.2
platformdirs==2.5.2
pycodestyle==2.8.0
pycparser==2.21
pyngrok==5.1.0
pyOpenSSL==22.0.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
schedule==1.1.0
selenium==4.1.3
six==1.16.0
sniffio==1.2.0
songline==0.0.1
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
toml==0.10.2
trio==0.20.0
trio-websocket==0.9.2
urllib3==1.26.9
virtualenv==20.14.1
Werkzeug==2.1.2
wsproto==1.1.0
yarl==1.7.2
